<form {{action "create" model on="submit"}}>
  <div class="item">
    {{input type="text" value=userInput}}
  </div>
  <div class="item">
    {{input type="submit" value="Submit"}}
  </div>
</form>
{{outlet}}
